/* 
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

.navbar-title{
    color: #ffffff;
    font-family: 'Lugrasimo', cursive;
    font-size: 40px;
    
}
.navbar-logo{
    width: 100px;
}
.nav-bar{
    color:#7071E8;
} */

.image-container{
    height: 80px;
    overflow: hidden;
}